.countdown{
  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 40px;
}
.countdown div{
  flex-basis: 100px;
  font-size: 10px;
  
  
}
.countdown div p{
  font-size: 30px;
  align-self: center;
  margin-bottom: -14px;
  color: orange;
}
.countdown div span{
  align-self: center;
}

.racetext{
  
  align-self: center;
  text-align: center;
  
  margin-top: -30px;
  
  
}

.first{

  color:yellow;
  
}

.SecondRow{

  color:yellow;
  /*padding-left:285px;*/
  

}



.test {
  margin-top: 50px;
  margin-left: 10px;
  
  float: flex;
  column-gap: 50%;
}

.FinalHeaderHomePage {
  font-size: 3em;
  color:white
}

iframe {

  
  margin: 0 auto;
  display:block
}

.FootHeaderLinks {
  margin-left: 100px;
  
}

.funfacts {
  font-size: 1.5em;
}

.row_top {
  justify-content: center;
  
  margin-top: 100px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}


/*
.column1 {
  width: 100%;

  
}

.column2 {
  width: 100%;

  
}
.column3 {
  width: 100%;
  
  
}*/

/* Clear floats after image containers */

/* 
.row {
  content: "";
  clear: both;
  display: table;
  margin-top: 100px
}*/

.row1 {
  content: "";
  clear: both;
  display: table;
  margin-top: 100px
}


.d_text p {
  margin:100px;
}

.column4 {
  float: left;
  width: 50%;
  padding: 60px
}

.column5 {
  float: left;
  width: 50%;
  padding: 60px
}

.column5 h1 {
  text-align: center
}

.column5 p  {

  font-weight: bold;
  font-size: 2.2vw;
}

.column6 {
  float: left;
  width: 50%;
  padding: 60px
}


.river {
  display: grid;
      place-items: center;
      margin-bottom: 100px;
}

.bottom {margin-bottom: 100px;}


.row4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: static;
  width: 100%;
  z-index: -50;
}

.column7 {
  
  width: 33%;
  
  
}

.column8 {
  
  width: 33%;
  
  
}
.column9 {
  
  width: 33%;
  
  
}



.mediacoverage {


  justify-content: center;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;

}

.space {

  margin-top: 50px;
}

.SponserHeader {


  justify-content: center;
  margin-top: -50px;

  font-size: 24px;
 
  font-weight: bold;
  text-decoration: underline;
  width: 50%;


}

.social_media {
  display: flex;
  
  flex-wrap: wrap;
  flex-direction:column;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 10px;
  

  list-style-type: none;
}


.Instagram {
  width: 40%;
  margin-LEFT :10px;
}
.Tiktok {
  width : 40%;
  margin-left: 10px

}

@media screen and (max-width: 300px) {
  .social_media { height: auto; }
}


.totals {

  text-align: center;
}

.major {

  margin-top:  40px;
  margin-bottom: 40px;
}


.major2 {
  margin: auto;
  width: 50%;
  margin-top:  40px;
  margin-bottom: 40px;
}

.GreatOuse {


  font-weight: bold;
  font-size: 2.2vw;

}

.kitlist {

  margin: auto;
  width: 50%;
  margin-top:  40px;
  margin-bottom: 40px;
}


.row5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: static;
  width: 100%;
  z-index: 50;
}

.column10 {width: 50%}

.icons{ position: fixed;
  overflow: auto;
  width: 100%;
  background: #242943 ;}

  
.icons ul {
  list-style-type: none;
  display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    
    background: #242943 ;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    position: fixed;
  top: 0;
  width: 100%;
  
 
}

.icons li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  border-top: #242943;
  background: #242943 ;
  font-size: 0.8em;
  display: inline;
  
}

.icons li a:hover {
  background-color: #7063e7;
}


@media(max-width:1380px){
  .icons{
    display:none;
  }
}

@media(min-width:1380px){
  .nav{
    display:none;
  }
}

.nav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(34,65,93,0.9);
  transition: 0.5s;
  display: block;
  overflow-x: hidden;
  
}
.nav a {
  clear: left;
  color: white;
  display: block;
  text-decoration: none;
  font-size: 22px;
  transition: 0.3s;
  padding: 0.5em;
}
.nav a:not(:first-child):hover {
  background-color: #f7941d;
}
.close {
  float: left;
  font-size: 30px;
  margin: 1em 0 0 1em;
}



.mobile ul {
  list-style-type: none;
  display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    
    background: #242943 ;
    margin: 0;
    padding: 0;
    margin-top: 100px;
  top: 0;
  width: 100%;
  
 
}

.mobile li {
  float: left;
  list-style-type: none;
  display: block;
  flex: 0 1 auto; /* Default */

}

.open {
  font-size: 3em;

}


