.countdown{
  display: flex;
  
  justify-content: center;
}
.countdown div{
  flex-basis: 100px;
  font-size: 10px;
  
}
.countdown div p{
  font-size: 30px;
  margin-bottom: -14px;
  color: orange;
}

.race_text{
  margin-top: 4px;
  text-align: center;
}
