.countdown{
  display: flex;
  text-align: center;
}
.countdown div{
  flex-basis: 100px;
  font-size: 10px;
  text-align: center;
}
.countdown div p{
  font-size: 30px;
  margin-bottom: -14px;
  text-align: center;
  color: orange;
  
  
}
 

.countdown_text{
  font-size:30px;
}
